<div   class="userdiv1 mt-5  d-flex">
    <!-- image div -->
    <div class="userdiv2 m-5">

      <img class="image" [src]="contact.photo" alt="">



    </div>

    <!-- details -->


    <div class="detials ">



      <!-- table -->
      <div class="container mt-5 ">
        <div class="row">
          <div class="col">
            <label class="labell" for="Name"> Name :</label>
          </div>
          <div class="col n">
            <h4>{{contact.name}}</h4>
          </div>

        </div>






        <div class="row">
          <div class="col">
            <label class="labell" for="Email"> Email :</label>
          </div>
          <div class="col n">
            <h4>{{contact.email}}</h4>
          </div>

        </div>




        <div class="row">
          <div class="col">
            <label class="labell" for="Mob"> Mobile :</label>
          </div>
          <div class="col n">
            <h4>{{contact.mobile}}</h4>
          </div>
        </div>






        <div class="row">
          <div class="col">
            <label class="labell" for="Company"> Company :</label>
          </div>
          <div class="col n">
            <h4>{{contact.
              company
              }}</h4>
          </div>
        </div>




        <div class="row">
          <div class="col">
            <label class="labell" for="Title"> Title :</label>
          </div>
          <div class="col n">
            <h4> {{contact.title}}</h4>
          </div>

        </div>


       















      </div>







    </div>

  </div>